*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Open Sans;
}

.overflow {
    overflow: hidden;
}

.hide{
	display: none;
}
.blur{
	-webkit-filter: blur(10px); 
    -moz-filter: blur(10px); 
    filter: blur(10px); 
}
.center{
	width: 1024px;
	margin: 0 auto;
}
.filter{
	z-index: -999;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #445878;
	opacity: .9;
}
#slides {
      display: none;
}


/*intro*/
#intro{
	z-index: -9999;
	position: fixed;
	width: 100%;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;



	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#intro h1{
	float: left;
	display: inline-block;
	font-size: 1em;
	margin-top: 10px;
	color: #ffffff;
}
#intro nav{
	float: right;
	margin-top: 10px;
}
#intro nav ul li{

	display: inline-block;
	margin-left:20px;
}
#intro nav ul li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-size: .8em;


	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#intro nav ul li a:hover{

	-moz-transform: translateY(5px);
	-webkit-transform: translateY(5px);
	-o-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}
#intro #intro_text{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	height: 400px;
	width: 300px;
}
#intro #intro_text h1{
	float: left;
	font-size: 2em;
	margin-bottom: 20px;
}
#intro #intro_text p{
	float: left;
	width: 100%;
	color: white;
	margin-bottom: 20px;
}
#intro #intro_text a{
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	border: 2px solid white;



	-webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#intro #intro_text a:hover{

	border-top: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 10px solid white;

}

#intro #slideshow{
	z-index: -9998;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#intro #slideshow section{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* end intro */







/*content*/

#content{
	float: left;
	margin-top: 100vh;
	width: 100vw;
	background-color: #ffffff;
}
#content section{
	float: left;
	width: 100%;
}
#content section header.title{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
#content section header.title h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #2A2A2A;
}
#content section header.title h2{
	font-weight: lighter;
	color: rgba(0,0,0,.4);
	font-size: 1em;
}
#content section ul.project_selection{
	display: block;
	width: 300px;
	margin: 0 auto;
	border-radius: 1.5em;
	overflow: hidden;
	border: 2px solid #445878;
}
#content section ul.project_selection li{
	display: block;
	color: #445878;
	float: left;
	padding: 5px 0px;
	font-size: .8em;
	cursor: pointer;
	width: 150px;
	text-align: center;



    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#content section ul.projects{
	display: block;
	width: 1024px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
#content section ul.projects li{
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	margin: 20px;
	font-size: .8em;
	background-color: rgba(0,0,0,.3);
	cursor: pointer;
	text-align: center;
}
#content section ul.project_selection li:hover{
	color: white;
	background-color: #445878;
}
#content section ul.project_selection li.selected{

	color: white;
	background-color: #445878;
}
/*end content*/













/*footer*/
footer{
	float: left;
	width: 100vw;
	padding: 40px 0px;
	background-color: #263248;
}
footer header{
	margin: 0 auto;
	width: 700;
	padding-top: 40px;
	padding-bottom: 80px;
	color: white;
	text-align: center;
	font-weight: lighter;
	font-size: 1em;
}
footer p.madeby{
	margin: 0 auto;
	display: block;
	color: rgba(225,225,225,.3);
	width: 700px;
	letter-spacing: 1px;
	font-weight: lighter;
	font-size: .8em;
	text-align: center;
	padding: 60px;
	border-top: 1px solid rgba(225,225,225,.3);
}
footer p.madeby a{
	color: rgba(225,225,225,.6);
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}
footer p.madeby span{
	color: #FF8598;
	text-decoration: none;
	padding: 7px 2px;
	font-size: 1.2em;
}

/* end footer*/














/*LANGUAGE CHOICE*/

.intro {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
	background-color: rgba(255,255,255,.7);
}
.intro header.logo{
    float: left;
    width: 100%;
    margin-top: 200px;
    text-align: center;
    font-family: Brandon;
	color: #445878;
}

.intro header.logo h1 {
    display: block;
    text-align: center;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    background-image: url(../images/logo_soliprom_blue.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.intro header.logo h2{
    font-family: Open Sans;
    text-align: center;
    font-size: 1.9em;
    text-transform: uppercase;
	color: #445878;
    width: 100%;
    letter-spacing: .6em;
    opacity: 0;
    -webkit-animation: fadein 2s forwards;
    -moz-animation: fadein 2s forwards;
    -ms-animation: fadein 2s forwards;
    -o-animation: fadein 2s forwards;
    animation: fadein 2s forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.intro nav{
    width: 100%;
    text-align: center;
}
.intro ul li {
    display: inline-block;
}

.intro ul {
    display: block;
    float: left;
    width: 100%;
    margin-left: -.7em;
    text-align: center;
    opacity: 0;
    -webkit-animation: fadein 2s ease-in;
    -moz-animation: fadein 2s ease-in;
    -ms-animation: fadein 2s ease-in;
    -o-animation: fadein 2s ease-in;
    animation: fadein 2s ease-in;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


.intro ul li a {
    display: block;
    text-decoration: none;
	color: #445878;
    margin: 2em;
    position: relative;
    
    
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.languages {
   
}

/* animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


